@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

#container {
    background-color: rgb(214, 206, 206);
    box-shadow: black 2px 2px 100px;
    width: 1280px;
    height: 720px;
    border-radius: 50px ;
    margin-left: 40px;
    margin-top: 10px;
}
#footer{
    width: 1280px;
    background-color: black;
    color: white;
    height: 40px;
    border-radius: 50px ;
    text-align: center;
    font-size: 30px;
    margin-left: 40px;
    margin-top: 10px;
    box-shadow: black 2px 2px 100px;
}
#n1{
    float: left;
    margin-left: 20px;
    font-family: 'Roboto Condensed', sans-serif;
}
#n1 a{
    text-decoration: none;
    color: gray;
    font-size: 30px;
    
}
#n2{
    float: right;
    
    font-size: 20px;
    
    font-family: 'Roboto Condensed', sans-serif;
}
#n3{
    float: right;
    font-size: 20px;
    

    font-family: 'Roboto Condensed', sans-serif;
}
#n4{
    float: right;
    font-size: 20px;
    
    text-decoration: none;
    font-family: 'Roboto Condensed', sans-serif;
}
#n2 a{
    text-decoration: none;
    color: white;
}
#n3 a{
    text-decoration: none;
    color: white;
}
#n4 a{
    text-decoration: none;
    color: white;
}
#nav{
    width: 1280px;
    height: 40px;

    box-shadow: black 2px 2px 100px;

    background-color: wheat;
}